body{
    background-color: rgb(46, 44, 44);
    display:flex;
    max-width: 90%;
}
.Container1{
    height: 55 rem;
    width: 80%;
    display:flex;
    flex-direction: column;
}
.columna{
    height: 55rem;
    width: 20%;
    flex-direction: initial;
}
.color-letras{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.lorem{
    height: 13.75rem;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.color-letras:hover{
    color: gray;
    cursor: pointer;
    text-transform: uppercase;
    transition: ease-out;
}
